* {
  box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

#boot {
  background-color: hsl(223deg 22% 13%);
  color: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
}
